Case sensitivity of envelope test

According to [RFC 5227 Section 5.4](https://datatracker.ietf.org/doc/html/rfc5228#section-5.4), the `envelope` test is case-insensitive in the envelope-part strings.

During testing with stalwart-mail, I encountered that
```
  envelope :contains "to" "test@example.com"
```
is a valid test string while
```
  envelope :contains "To" "test@example.com"
```
is rejected with
```
CHECKSCRIPT failed: NO "Invalid envelope \"To\" at line 14, column 19."
```

Relevant code around [src/compiler/lexer/string.rsL326](https://github.com/stalwartlabs/sieve/blob/5e265aac222dea07067d06e65085e4362bfa6f23/src/compiler/lexer/string.rs#L326)